

@font-face {
font-family: 'Tomato';
src: url("Tomato.ttf"); format:("truetype")

}

body {

background-image: url("../images/round.png");
opacity: 25%;
}

#pix {

    margin: 10px;
}


.jumbotron {

    background-color: brown;
}
h1 {

    font-family: 'Tomato', Arial, Helvetica, sans-serif;
    color: orange;
    font-size: 50pt;
}

h2 {

font-family: 'Tomato', Arial, Helvetica, sans-serif;
color: brown;
font-size: 25pt;

}

#btn {

font-family: 'Tomato', Arial, Helvetica, sans-serif;

}

#wordinplay {

font-family:'Tomato', Arial, Helvetica, sans-serif;
font-size: 23pt;

}

#wins {

font-family: 'Tomato', Arial, Helvetica, sans-serif;
font-size: 25pt;


}

#score {

font-family: 'Tomato', Arial, Helvetica, sans-serif;
font-size: 25pt;
word-wrap: break-word;

}

#wrong {

    font-family: 'Tomato', Arial, Helvetica, sans-serif;
    font-size: 20pt;
}